<h1 class="c-ttl">Show</h1>
<div class="p-show">
  <p class="p-show__txt">
    Title:<br>
    <%= @question.title %>
  </p>

  <p class="p-show__txt">
    Name:<br>
    <%= @question.name %>
  </p>

  <p class="p-show__txt">
    Content:<br>
    <%= @question.content %>
  </p>
</div>